body {
    background: #F5F1E7;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 900px;
    margin-top: 50px;
}

.form-container {
    background: rgba(201, 87, 87, 0.1);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.btn-enviar {
    background-color: #f4a93b;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
}
.btn-enviar:hover {
    background-color: #f39c12;
}
.icon-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
.icon-box i {
    font-size: 30px;
    color: #f4a93b;
}
